<nav class="navbar navbar-expand-lg encabezado" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="">Proyecto</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="empleados">Empleados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="cargos">Cargos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login">
                Log in <i class="bi bi-door-open"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="register">
                Register <i class="bi bi-box-arrow-in-right"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<main class="formularios">
    <form (ngSubmit)="register()" class="contenedor">
        <label>
            Email:
            <input [(ngModel)]="registerData.email" name="email" type="email">
        </label>
        <label>
            Password:
            <input [(ngModel)]="registerData.password" name="password" type="password">
        </label>
        <label>
            Nombre:
            <input [(ngModel)]="registerData.nombre" name="nombre" type="text">
        </label>
        <label>
            Apellidos:
            <input [(ngModel)]="registerData.apellidos" name="apellidos" type="text">
        </label>
        <label>
            Cargo:
            <select [(ngModel)]="registerData.cargo_id" name="cargo_id">
                <option *ngFor="let cargo of cargos" [value]="cargo.id">{{ cargo.nombre }}</option>
            </select>
        </label>
        <button type="submit">Registrar</button>
    </form>
</main>
